# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.playwright

# next.js
/.next/
/out/

# production
/build
/dist
/uploads

# misc
.DS_Store
*.pem

# debug
*.log*

# local env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
./tsconfig.tsbuildinfo

# medusa
.idea
medusa-db.sql

# turbo
/.turbo
/.cache